body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: "Inter", sans-serif;
  height: 100vh;
  overflow: hidden;
}


.grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(#dcdcdc 1px, transparent 1px),
    linear-gradient(90deg, #dcdcdc 1px, transparent 1px);
  background-size: 40px 40px;
}


.center-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 28px 40px;
  border-radius: 10px;
  border: 1.5px solid #000;
  box-shadow: 5px 5px 0px #000;
  text-align: center;
  width: 300px;
}

.center-card h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.center-card p {
  margin-top: 8px;
  font-size: 14px;
  color: #444;
}


.nav {
  position: absolute;
  background: #fff;
  padding: 10px 18px;
  border: 1.5px solid #000;
  box-shadow: 4px 4px 0px #000;
  border-radius: 6px;
  font-weight: 500;
}


.about {
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}

.projects {
  top: 45%;
  left: 15%;
}

.skills {
  top: 45%;
  right: 15%;
}

.contact {
  bottom: 12%;
  left: 20%;
}

.resume {
  bottom: 12%;
  right: 20%;
}
